[2018-01-25 18:29] mindthetic opened #1 "Width is wrong on container element who's parent container has gutters"
When a container is the child of another container the width is calculated incorrectly because the element in question is taking the gutter thickness for the parent containers children.

[code]
The gutter thickness for this element needs to be reset to 0px.

[2018-01-26 01:10] mindthetic opened #2 "Width is wrong on top most container when width declared in separate class to gutters"
If the width is declared in a different class to gutters then the plugin doesn't detect that their are gutters present and so does not add the thickness of the gutters to the width of the container.

[2018-01-26 01:14] #2 closed

[2018-01-26 23:27] mindthetic opened #3 "Negative margin not working for container element nested inside another container"

[2018-01-27 23:31] mindthetic opened #4 "Gutters as percentages don't work when width applied to container"
The following doesn't work when the width is less or more than full width because the margin's are a percentage of the containers width and not it's parent.

[code]

It could only be fixed if the container was aware of it's intended width. Perhaps if the intended width was supplied as a CSS variable then the margin on the container could be calculated as needed.

[2018-01-29 12:44] #1 closed

[2018-01-29 12:46] mindthetic commented on #4
I can get percentages to work at the first level but controlling its effects at the second level is a little more difficult because when combined with a non percentage guttering things start to get a bit complicated. I'm sure it's doable, but plugin could probably benefit from refactoring to make it simpler.

[2018-01-29 12:47] #3 closed

[2018-01-29 17:38] mindthetic commented on #4
This is it working in theory with percentages not matter how they are nested.

http://jsbin.com/fenudo/edit?html,css,output

[2018-01-30 22:40] #4 closed

[2018-02-16 17:27] mindthetic opened #5 "Margin's not calculated properly on nested gutters inside slotted element"

[2018-02-16 18:08] mindthetic opened #6 "Width should not compensate for gutters when set in pixels/ems etc"

[2018-02-16 20:55] #5 closed

[2018-02-16 21:29] mindthetic commented on #6
Accidentally removed original property when not a percentage width.

[2018-02-16 21:30] #6 closed

[2018-02-17 11:41] mindthetic opened #7 "When height is added to container it should calculate intended height plus column gutter size."

[2018-02-17 12:19] mindthetic commented on #7
The same should apply for width and percentages.

[2018-02-17 12:21] mindthetic opened #8 "0 + pixels does not equal pixels apparently"

[2018-02-17 12:24] #8 closed

[2018-02-17 18:12] mindthetic opened #9 "When gutters are percentages width applied to container could be calculated differently"

[2018-04-29 19:45] mindthetic opened #10 "Width on any element below container item is calculated incorrectly"
The gutter property is still accessible to elements nested inside container items.

[2018-04-30 22:17] #7 closed

[2018-05-12 17:31] limitlessloop opened #11 "Add support for individual `column-gap` and `row-gap`"

[2018-05-12 17:40] mindthetic opened #12 "Look at how can improve percentage gap for flex container items with no explicit width"
Flex container items which are not 100% width of the container cannot calculate the correct negative margin because they don't know the computed width of the element.

One way to fix this could be to change the technique used on container items with percentage gaps and use technique of turning off margin on first child with no negative margins on container.

[2018-05-12 18:27] mindthetic opened #13 "When width is applied to containers with gaps width is calculated incorrectly"

[2018-05-12 18:31] #13 closed

[2018-05-12 18:36] limitlessloop opened #14 "How to optimise"
For example all width's are currently re-written for reliability but this comes at a cost of larger CSS file.

[2020-03-13 16:05] limitlessloop commented on #14
- Optional support for percentages
- Move width calculation into `:root`
- Optional support for rewriting all occurrences of width
- Optional support for nesting
- Potentially use Javascript to calculate width

[2020-03-13 16:09] limitlessloop opened #17 "Fix conflict when margin applied to container"
The plugin should add user-defined margin to overall negative margin used for the polyfill.

[2020-03-14 04:04] limitlessloop commented on #14
To avoid rewriting all `width` and `flex-basis` properties, we can make a variable available which will then employ the polyfill for that property.

For example:

[code]
The polyfill will do the rest.

[2020-07-31 14:35] #11 closed

[2020-07-31 18:58] #17 closed

[2020-10-15 12:22] lewebsimple opened #19 "Not working with PostCSS 8 / Webpack 4 / TailwindCSS"
I can't get this to work with the latest PostCSS and Webpack 4.

postcss.config.js
[code]

I get the following error:
[code]

[2020-10-20 21:18] alvarlagerlof opened #20 "Not working with Next.js and styled-components"
This is my **postcss.config.json**
[code]

It does not transform gap: x; to anything.

[2020-10-24 01:08] limitlessloop commented on #19
Hi, thanks for raising this issue. Admittedly I've not had chance to try this with PostCSS 8. I'll investigate this issue shortly.

[2020-10-24 01:10] limitlessloop commented on #20
Thanks for raising this issue. This could be related to #19. Are you using PostCSS 8? I take a look soon and see what's going on.

[2020-10-24 01:28] limitlessloop commented on #19
@lewebsimple I just want to check something. Are you by any chance using `margin: auto;` with the `gap' property in any way? This might be a bug/limitation which I'm recently become aware of but not had chance to make better. It shouldn't be causing it to error but PostCSS 8 might have some stricter linting rules. I will investigate it further when I get chance. For now if it is related to that, y

[2020-10-24 14:27] alvarlagerlof commented on #20
Not sure, I am using whatever comes with Next.js currently. I ran the create-next-app very recently.

[2020-10-27 23:39] limitlessloop commented on #19
Hi @yoanmalie. Thanks for this. I'll take a look at it this weekend. I think the issue might be being caused by the use of percentage gaps and possibly the container has a width of `auto`.  The polyfill uses the width set on the container to help aid in calculating the correct gap spacing. It might be in this case that a fallback might be required, but I'll investigate it further at the weekend or

[2020-10-28 00:00] limitlessloop commented on #19
Ok I think I know what the issue is, hoping to have a fix ready by the end of the week.

Basically the plugin is generating invalid CSS in certain scenarios when `width: auto' exists in the stylesheet but I didn't spot this before PostCSS 8.

[2020-10-28 15:26] limitlessloop commented on #19
Hi @yoanmalie @lewebsimple I've published a minor fix which I hope will resolve the error you're seeing. Please update to version 1.0.4 and let me know if it resolves the issue you are experiencing.

[2021-01-12 17:17] WildEgo opened #21 "fit-content problem"
Hey I just wanted to try this package and found out and found this little problem, for context my PostCSS version on package.json is `^8.2.2`.

The error:
[code]

The setup for postcss below (flexgap standing for flex-gap-polyfill):
[code]

Regards,
Luis Bizarro.

[2021-01-13 18:26] limitlessloop commented on #21
Hi Luis, thanks for reporting that. I think I know what's causing that. I've pushed a fix for it with a major release which uses PostCSS 8.

I really need to refactor the plugin for a better way of checking for compatible values for width, but let me know if version 2.0.0 solves this issue.

Many thanks,
Gavin

[2021-01-14 12:47] WildEgo commented on #21
I'll check it as soon as I can, thanks a lot I'll update u with what I find!

[2021-01-14 13:46] WildEgo commented on #21
Heads up it has problems with "width: max-content" but no problem I didn't need that one anyway personally.

[2021-01-15 01:15] limitlessloop commented on #21
Doh, sorry about that. When I get chance over the weekend. I'll fix it properly. It's not even really needed unless you're using percentages, so I might add an option to disable if not using percentage gaps.

[2021-01-15 22:21] limitlessloop commented on #21
@WildEgo thanks for your help raising this issue. I've updated it with a much better check for units now, so `max-content` should work also. Thanks agin.

[2021-01-15 22:25] limitlessloop commented on #19
Closing this issue now as should be fixed in `2.0.1`.

[2021-01-15 22:25] #19 closed

[2021-01-15 22:25] #21 closed

[2021-01-21 11:50] thewilkybarkid opened #22 "`margin-top` overriden when using just `column-gap`"
Using `column-gap` on its own still results in `margin-top` being changed, but _overriden_ to 0 rather than recaluclated.

[code]

<details>
<summary>Output</summary>

[code]

</details>

Both

[code]

and

[code]

work in the the `margin-top` is recalculated correctly, but it's redundant to do so. I'd expect just `margin-right` to change in all these cases, not `margin-top`.

[2021-01-21 13:55] thewilkybarkid opened #24 "Remove PostCSS deprecation notice"
Currently getting:

[code]

when using. Seems to work fine, but looks like it's worthwhile to upgrade.

[2021-01-30 00:36] limitlessloop commented on #22
Thanks for your pull request. This is now in version 2.0.2.

[2021-01-30 00:36] #22 closed

[2021-01-30 15:42] limitlessloop commented on #24
Thanks for this, I've removed the use of `postcss.plugin` and the depreciation notice should now be gone.

[2021-01-30 15:42] #24 closed

[2021-02-02 18:37] lShinal commented on #20
I have same issue. When I added polyfill, during the build I got this error message for *.module.scss file.
`Selector ":root" is not pure (pure selectors must contain at least one local class or id)`
exemple:
`.row {
  display: flex;
  gap:var(--gap)
}`

but for global scss all works is fine

[2021-02-02 21:29] limitlessloop commented on #20
Hi @lShinal. Are you using any other PostCSS plugins? I haven't used CSS modules before, is this something you're using? The plugin adds some custom properties to the top of the CSS file inside a `:root` rule. `:root` should technically exist at the top, so I suspect something is preventing this from happening. It could be another PostCSS plugin that is being processed after the flex gap polyfill

[2021-02-02 22:17] lShinal commented on #20
@limitlessloop I solve this... but it's not solution. I clone project and replace :root selector on my class(.gap_container). I can't use :root and tags in *.module.scss only class or id. Rebuild polifil and it's works. Look like it's works.
Use case:
Row.tsx
`import React, { CSSProperties, FC } from "react";
import classes from "./Row.module.scss";
export interface IRow {
  gap: string | number;

[2021-02-02 23:39] limitlessloop commented on #20
Thanks. If you can share a repo of your project I'll take a look for you. I'd need to understand when PostCSS is processing the styles.

[2021-02-07 13:09] borispoehland commented on #20
I have the same problem (:root is not pure). Thanks for trying to fix it!

[2021-02-07 16:59] borispoehland commented on #20
Oh, you still need the repo? I can set one up for you tomorrow

[2021-02-08 11:44] borispoehland commented on #20
Ok, I set up the repo here: https://github.com/borispoehland/flex-gap-polyfill-next-js

Therefore I bootstrapped a standard next.js app and added the `flex-gap-polyfill `as plugin in the `postcss.config.js`. On start (npm run dev), the error `Selector ":root" is not pure (pure selectors must contain at least one local class or id)` is shown for the CSS Module `Home.module.css`

[2021-02-08 18:17] limitlessloop commented on #20
Thanks you @borispoehland. I've released a solution which prevents adding any `:root` styles to any `module.css` files. This fix is available in version `2.1.1`. Don't hesitate to get in touch if you encounter any other issues.

[2021-02-08 18:17] #20 closed

[2021-02-08 20:38] #14 closed

[2021-02-10 08:42] moshe-l opened #27 "Useing in angular 2+"
How this polyfill can used in angular 2 application?
How can i pass my css to the proccess function in polyfill.ts file?
Thanks a lot.

[2021-02-10 09:17] limitlessloop commented on #27
Hi @moshe-l . The polyfill requires PostCSS. I've not used Angular before but from what I've read you need to use a custom Webpack config to use PostCSS. I found this article which talks about using Tailwind and angular, you should be ale to follow the same steps (without the Tailwind stuff).

https://dev.to/seankerwin/angular-8-tailwind-css-guide-3m45

[2021-02-11 13:22] moshe-l commented on #27
Thanks you for your response. I'll check it out.

[2021-02-11 13:58] limitlessloop commented on #27
I tried to have a go but I wasn't familiar enough with Angular. Let us know if you get it working, or if you hit a roadblock.

[2021-03-07 15:03] jamesst20 opened #29 "Update: It's not possible to detect if flex-gap is supported"
** From the documentation **
Known issues
No way to detect browsers which support flex-gap, so polyfill is always used.

** Found possible detection **

https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/flexgap.js

[2021-03-07 16:51] limitlessloop commented on #29
Thanks @jamesst20. I'll look at how I could add support for this. The trouble is, that is a JavaScript method of detecting if a browser has support for flex-gap and this is a CSS only polyfill. I could maybe integrate a class into the polyfill which turns off/on the polyfill if this class is present.

[2021-04-12 20:15] madmacc commented on #27
@moshe-l Did you get this working with Angular?
Any tips?

[2021-04-13 14:05] Zizico2 opened #30 "Getting different behaviour from vanilla gap"
A flex column with a gap and with row-gap, behaves the same for my use case. With the polyfill it only works well with row-gap. Gap will make the column shift to the left. I'll try to make a simple reproduction and put it here when I have the time.

[2021-04-13 18:03] limitlessloop commented on #30
Hi @Zizico2 it could be that the container has a margin and when `gap` is applied it's undoing the margin being applied by the container. This is because the polyfill uses negaive margins to simulate the gap property. This should only happen when the margin is not defined inside the same selector as the gap property though.

This is a drawback of being a CSS only polyfill, unfortunately. However,

[2021-04-15 18:51] overlisted opened #31 "Error with PostCSS 8.2 / Next.js / Yarn 2"
Just wanted to try this polyfill and see if it will fix `flex-gap`s in Safari, but I'm getting this error:
[code]

[2021-04-15 21:55] limitlessloop commented on #31
Hi @overlisted thanks for reporting this. Could be something I've missed with the dependencies. You could try `npm install postcss-value-parser --save-dev` to if this resolves it. Meanwhile, I'll look into it further. Thanks!

[2021-04-15 21:59] overlisted commented on #31
Installing that package has fixed that, so yeah, you're probably missing that dependency

[2021-04-15 22:20] overlisted commented on #31
A question while we're at it: Is this plugin going to work with Tailwind? Because in Tailwind `flex` and `gap-*` are separate classes, I wonder how you will/did it.

[2021-04-15 22:56] limitlessloop commented on #31
Hmm. Good question. The plugin currently only polyfills   when `display: flex/inline-flex` and `gap` exist in the same selector rule. This is to avoid it affecting CSS Grid. I'm also not sure if it would polyfill any of the Tailwind CSS. It's been a while since I used Tailwind and I can't remember how PostCSS plugins effect it.

For now the only thing I can think of to work around this would be to

[2021-04-15 23:26] overlisted commented on #31
That's a great solution. We should ask what the Tailwind team thinks.

[2021-04-19 17:02] limitlessloop commented on #29
Just an update on this. The next release has an option to specify a class if you're using JS to detect support for flex gap that will avoid the polyfill being used if flex `gap` is supported natively.

[2021-04-19 17:03] limitlessloop commented on #31
Hi @overlisted. I'm working on an option that adds support for Tailwind. I'm still testing it at the moment, but if all goes well, should be available in the next release.

[2021-04-19 17:18] overlisted commented on #31
Thank you! It would really come in handy!

[2021-04-19 17:42] jamesst20 commented on #29
Thanks for the feedback ! :) I will wait for the README update and try it

[2021-04-19 18:33] limitlessloop commented on #31
I can't guarantee I'll be able to make it perfect but I'll try my best. I've published a pre-release if you want to give it a go. Just install using `npm install flex-gap-polyfill@next --save-dev`.

Pass options through plugin as:
[code]

It currently works when the classes `flex` and `gap-*` are applied at the same time. I'll need to investigate what I can do when `margin` is applied, as `margin-

[2021-04-19 18:41] overlisted commented on #31
Would there also be a way to make it apply the polyfill just on all non-grid elements? Because `display: flex` is set to all (reasonable) elements by default (with a CSS selector) in my project.

[2021-04-19 18:44] overlisted commented on #31
(yeah sorry if this is becoming a sort of "everything this project lacks" issue at this point)

[2021-04-19 20:22] limitlessloop commented on #31
That's ok. It would be quite costly to polyfill because it would have to replace every occurrence `margin` in every CSS rule. It needs something to narrow it down. That's why I should be able to provide support for Tailwind because I can check the selector to see if it matches `.gap*` and then assume that it's used with a class of `.flex`.

Could you tell me a bit more about your project and what

[2021-04-19 21:05] overlisted commented on #31
I'm currently just trying out that concept in my personal website ([overlisted/website](https://github.com/overlisted/website)). This is the piece of CSS that makes everything a flexbox by default:
[code]

And here is a sample list of classnames for a simple list: `flex-col gap-2 md:gap-4` (`flex-row` classname is always omitted).

As you can see, there is no simple way to match that `gap-*` with

[2021-04-19 21:51] limitlessloop commented on #31
I tried something similar once, so I can see the appeal of wanting to use flex and gap universally with every element.

To support something like this would be extremely expensive because the polyfill covers so many use cases, to do this it has to add custom properties to every rule which has `flex`, `inline-flex`, `gap`, `margin`, `width` and `height`.  If I get time I'll experiment with making i

[2021-04-27 15:01] frufrufrufrufru opened #33 "Using with Nuxt.js"
Hi! How it can be used with Nuxt.js?

I found [this](https://nuxtjs.org/docs/2.x/features/configuration/#postcss-plugins), but there is only an example of adding a plugin. Or am I missing something?

So how can I do something like this?

[code]

[2021-04-27 17:06] limitlessloop commented on #33
Hi, in theory I think it should work like this. I've not used it with Nuxt.js myself so let me know how you get on.

Install postcss and flex-gap-polyfill as a dev dependency.

[code]

Then configure `nuxt.config.js` like this
[code]

[2021-04-27 17:20] frufrufrufrufru commented on #33
Oh, I've already done that and it doesn't work. 😢

By the way, PostCSS keeps sending warns:

[code]

[2021-04-27 17:56] limitlessloop commented on #33
You know what I vaguely remember getting something like that when I did a fresh install of Nuxt.js a few months ago with another plugin. I'll investigate see if I can figure anything out. Are you able to try another PostCSS plugin and let me know if it does the same thing?

[2021-04-27 18:29] frufrufrufrufru commented on #33
Ok, I tried it with `postcss-responsive-type` and it doesn't seem to work either.

But the most interesting thing is that it tries to use this module because I got an exception:

`ERROR  Cannot find module 'postcss-responsive-type'`

So I installed that `npm i postcss-responsive-type --save-dev` and got the same output again:

[code]

[2021-04-27 18:38] limitlessloop commented on #33
I can see other people reporting similar issues with webpack.
https://github.com/webpack-contrib/postcss-loader/issues/405

I'm looking for possible causes. Will let you know if I find anything.

[2021-04-27 18:54] limitlessloop commented on #33
I'm at a loss at the moment as to how to fix it. It seems like it could be an issue with different frameworks migrating to PostCSS 8. If you find anything let me know, I'll do the same.

[2021-04-27 19:01] frufrufrufrufru commented on #33
Ok, I'll try to find something. I will try to roll back to an older version of PostCSS, who knows.

[2021-04-27 19:06] frufrufrufrufru commented on #33
I installed the previous version of PostCSS and it looks like it works!

[2021-04-27 19:11] frufrufrufrufru commented on #33
But not with `postcss-gap`:

`Error: PostCSS plugin postcss-gap requires PostCSS 8.`

[2021-04-27 20:46] limitlessloop commented on #33
Hi, after doing some investigation I've found that Nuxt.js still requires PostCSS 7 as a dependency and I'm pretty sure this is causing the issue. I've tried manually upgrading to PostCSS 8 but this causes issues with Nuxt.js. As a temporary fix for now, you could rollback `flex-gap-polyfill` to version `1.0.4` this was before I updated to PostCSS 8.

[code]

[2021-04-27 21:08] frufrufrufrufru commented on #33
Yes, thanks, it works! I'll wait for the update.

Apparently I found another bug, I will open a new issue.

[2021-04-27 21:28] frufrufrufrufru opened #34 "Overriding the margin on one level"
If I have 2 (or more) classes at the same level then there is a problem with overriding margin:

So if I have:

[code]

[code]

Then generated margin for `.Header` will overrides `margin-top` from `.Page__header`.

[2021-04-27 21:44] limitlessloop commented on #34
Thanks for reporting. This is a shortcoming of the polyfill as it's using CSS alone so it doesn't know what selectors will be used together. A workaround for cases like this is by factoring in the margin that the polyfill creates.

For example:

[code]

The next release will provide a better solution to this, although it comes at the cost of more code.

[2021-04-27 22:03] frufrufrufrufru commented on #34
I tried this and it doesn't work. Or I am doing something wrong.

`.Page__header` before:

[code]

`margin-top: 60px;` > `margin-top: calc(60px + var(--fgp-margin-top, 0px));`

`.Page__header` after:

[code]

![image](https://user-images.githubusercontent.com/83294543/116318283-354f9e80-a7bd-11eb-8072-75d12f8c7d11.png)

[2021-04-27 22:15] limitlessloop commented on #34
Ah sorry, the earlier version had to use `!important` to override containers which may be nested, but I have since managed to move this to a custom property so this doesn't happen. Does it work if you do either of these options?

[code]

[2021-04-27 22:34] frufrufrufrufru commented on #34
Looks like it works with `!important`, but not for all cases. I'm still trying to figure it out, it's very strange.

Also, for some reason, the link broke on some elements... I have a block (component) with elements inside, the padding is no longer clickable, `:hover` also not works but not for elements inside.

[2021-04-27 22:42] frufrufrufrufru commented on #34
It was because of `pointer-events: none`, for some reason it was generated too.

[2021-04-27 22:54] limitlessloop commented on #34
If you get a chance I would love to see a repo example. `pointer-events: none` is used to prevent the negative margin getting in the way of any clicks events above and to the side of the container. This is reset back to `pointer-events: all` on the items of the container though.

[2021-04-27 23:29] frufrufrufrufru commented on #34
I sent you an invite, as this is a private project.

[2021-04-28 22:28] limitlessloop commented on #34
Thanks, I had a quick look around but couldn't see anything out of the ordinary. With regards to the issue, you're having with `pointer-events: none` I can only suggest if you can override it for now. If you can provide more details on the issue I can look into it for the next version. Thanks again.

[2021-04-29 10:17] h0merjam commented on #33
Maybe this helps https://github.com/nuxt/postcss8

[2021-05-02 23:20] limitlessloop commented on #30
Hi @Zizico2 the latest version has been rewritten from the ground up and I think it could resolve this issue. Feel free to comment if you're still having issues.

[2021-05-02 23:20] #30 closed

[2021-05-02 23:28] limitlessloop commented on #29
Hi @jamesst20. Thanks for this suggestion. The latest version now allows you to pass in a class selector like `.flex-gap-not-supported` when used with the Modernizr technique to add a class when flex gap is not supported.

In theory, you could also apply the polyfill with PostCSS in the browser rather than the server but I haven't had time to try this yet.

[2021-05-02 23:28] #29 closed

[2021-05-02 23:31] limitlessloop commented on #34
Hi @frufrufrufrufru. The latest version should resolve the problem you're experiencing. The polyfill now applies more liberally by default, with the option to make it exclusive with the `only` option. The `pointer-events` issue should also be resolved, this was a bug/issue in Sarafi.

[2021-05-02 23:31] #34 closed

[2021-05-02 23:36] limitlessloop commented on #31
Hi @overlisted . The polyfill now works with Tailwind by default. It's been rewritten from the ground up and may also work for you're use case of applying `flex` to every element, but I can't guarantee it. There are also some other new options in the readme which might come in handy.

[2021-05-02 23:36] #31 closed

[2021-05-04 10:53] frufrufrufrufru commented on #33
@h0merjam, thank you, it works! It works, but not with `flex-gap-polyfill` 😢, @limitlessloop, for some reason I'm getting this:

[code]

[2021-05-04 11:03] limitlessloop commented on #33
Some frameworks seem to be having issues with some dependencies. Does it work if you manually install `postcss-values-parser`?

[code]

[2021-05-04 11:32] frufrufrufrufru commented on #33
Yes, it helped! Thanks!

[2021-05-04 11:37] limitlessloop commented on #33
Ok thanks, I'll look into what's going on with the dependencies, possibly I'm not bundling them correctly.

[2021-05-04 22:06] limitlessloop commented on #33
Hey @frufrufrufrufru just wanted to say thanks for all your feedback. I think this should be working now including the dependency issue.

[2021-05-04 22:06] #33 closed

[2021-05-06 18:19] overlisted opened #35 "Adds unnecessary margin-left and margin-top"
Just tried the new version, and it looks like the polyfill adds strange `margin-top` and `margin-left` to all `gap`-related rules.
![image](https://user-images.githubusercontent.com/66535446/117346302-dfa78000-aea7-11eb-9f90-71c9c2105da7.png)

These are my PostCSS plugins. Maybe the polyfill conflicts with one of them?
[code]

[2021-05-06 21:54] limitlessloop commented on #35
Hi @overlisted. This isn't a mistake. In the new version, it's now compatible so that if `display: flex` and `gap` exist on separate classes it will still work. Although it adds `margin-top` and `margin-left` it still preserves the original margin which exists on the element, if any at all.

This means that the following example will work:

[code]

Currently, the polyfill affects any rule with the

[2021-05-10 20:47] overlisted commented on #35
Then I don't quite understand how I'm supposed to use the polyfill. The Tailwind example has only one element with `gap`, and doesn't that really show how this concept can scale (up to, for instance, a complex layout without a single margin).

[2021-05-11 10:40] limitlessloop commented on #35
Out of the box, it will manage with any or most use-cases (or at least it should). You can see the [demo page](https://limitlessloop.github.io/flex-gap-polyfill/). If you want to use it as it was before, you can just pass in `only: []` and it will work the same as before.

If you want to optimise for Tailwind so that only certain rules are polyfilled, you can use:

[code]

Is there a specific issu

[2021-05-11 15:33] overlisted commented on #35
Ok, let me show you what it actually looks like.

This is how my site looks without the polyfill:
![image](https://user-images.githubusercontent.com/66535446/117841988-cde62400-b27d-11eb-9767-e863a48e8725.png)

And this is how it looks with the polyfill (default config):
![image](https://user-images.githubusercontent.com/66535446/117842076-e5251180-b27d-11eb-86e1-2a687c95d4a7.png)

And this is how

[2021-05-11 17:18] overlisted commented on #35
Also, I think that the polyfill's output just for my use case can be simplified to:
[code]
Maybe you can make this an option in the config?

[2021-05-11 18:29] limitlessloop commented on #35
I've had a quick look. This is certainly pushing this polyfill to its limits. I've noticed an edge case that I hadn't covered but that is fixed now.

The biggest problem in your use case is that `gap` is being used on containers with a background, or a background that is different from its parent background. Because the polyfill uses negative margins to pull the content back into place it distorts

[2021-05-12 15:22] ricky11 opened #37 "postcss 7 suppport?"
I believe version 4 does not support postcss 7?

I searched the docs and the releases, but couldn't find which previous versions support postcss 7?

Thanks

[2021-05-12 18:31] limitlessloop commented on #37
Hey @ricky11. Sorry I should have been better at documenting this in the version log. I believe I changed to PostCSS 8 at version `2.0.0` and the last version before that was `1.0.4`. It's moved on quite a bit so will apologise in advance if you encounter any issues.

I've you want to use PostCSS 7 because of Nuxt.js you could check out this
https://github.com/nuxt/postcss8

There's also an exampl

[2021-05-13 03:05] ricky11 commented on #37
Thanks.  i am actually using the latest version of vue 2.x, surprising even vue 3.x does not come with postcss 8 out of the box.

ill see if I can upgrade to post css 8 without breaking my app.

is postcss 7 deprecated now?

thanks.

[2021-05-13 13:29] limitlessloop commented on #37
I don't think it's depreciated yet, but as a few other's have asked about PostCSS 7, I've patched a previous release (`1.10`) that's up to date with new bug fixes and features. Hopefully, this will work for you if you can't get your app to work with PostCSS 8.

[code]

[2021-05-13 13:58] ricky11 commented on #37
Great thanks, getting

No matching version found for flex-gap-polyfill@1.10

[2021-05-13 14:49] limitlessloop commented on #37
Ah yes, I've corrected that typo now. Thanks.

Unfortunately, it won't work for ie11 because `var()` is not supported.

I'll close this issue for now, but feel free to reply with any more thoughts or if you have any other issues.

[2021-05-13 14:49] #37 closed

[2021-05-14 11:45] xdivby0 opened #38 "This seems to break my @import at the top of the file. Am I missing anything?"
I have a css file that looks similar to this:

[code]

Adding the flex-gap-polyfill postcss plugin breaks this import. I am not 100% sure [this root-rule prepending](https://github.com/limitlessloop/flex-gap-polyfill/blob/e17c9c90ac48c4b45a52a17a6c6397fda3fb7de2/src/index.js#L153) is causing this break but I think so. Am I missing anything?

[2021-05-14 14:02] limitlessloop commented on #38
Ah it could be, because it adds a `:root` rule at the top of the file. I might just need to check for any imports and add the rule after those. Thanks for flagging this.

[2021-05-15 06:13] xdivby0 commented on #38
You are welcome, thank you for doing this project! If I can help or should retest with a different version, hit me up :)

[2021-05-16 13:11] #38 closed

[2021-05-16 13:16] limitlessloop commented on #38
Hi @xdivby0 I've just submitted a fix for this. It will now only append the `:root` rule after `@import` rules. This assumes all import rules are at the top of the file. You can try it out by installing the latest version. If you use `postcss-import` it might also be a good idea to put this before `flex-gap-polyfill` in your list of PostCSS plugins.

[2021-05-20 17:45] ricky11 commented on #37
I am using the snippet below but I cant get it to work in chrome 83 and safari 14.03

both of these browsers do support css custom variables?

any ideas?

  "postcss": {
    "plugins": {
      "postcss-custom-properties": {
        "importFrom": "src/assets/styles.css"
      },
      "flex-gap-polyfill" : {}
    }
  },

  I can see however in dev tools that there is some css injected, here is  sma

[2021-05-20 19:12] limitlessloop commented on #37
Hi @ricky11 can you share the original CSS for this example that you're using?

[2021-05-21 07:56] ricky11 commented on #37
Here is the div class

.linkWrapper {
    display:flex;
    flex-direction: row;
     gap:2.5rem;
    justify-content: space-between;
    align-items: center;
}

[2021-05-21 08:48] limitlessloop commented on #37
Thanks. Everything looks normal there. I think I would have to see a repo if possible so I can diagnose what the issue might be. It could be something happening with the framework you're using that I'm not familiar with.

[2021-05-21 09:17] ricky11 commented on #37
vue uses scoped css, but i do see thats working correctly with the data attribute. ill do some testing

[2021-05-21 09:38] limitlessloop commented on #37
The polyfill will adds a few other rules in addition to the rule in question with gap.

Here is an example:
[code]

So it might be worth checking is these additional rules are being added.

[2021-05-21 16:41] nemoDreamer opened #39 "Don't add `:root` selector to `*.module.scss` either"
Due to only checking for `*.module.css` extension, we get the following error when using SCSS Modules:

[code]

**Code:**

https://github.com/limitlessloop/flex-gap-polyfill/blob/8d3f3607dfedeefc37e76fc6053d03cb53b510e5/src/index.js#L150-L151

I've got a pull-request coming!

[2021-06-03 19:34] #39 closed

[2021-06-06 12:48] jamesst20 opened #41 "Major version 3 & 4 not working (Rails / Webpacker 6)"
**packages.json**

[code]

**postcss.config.js**

[code]

Upgrading to version 3 or 4 breaks compilation: "flex-gap-polyfill": "^4.0.0"

**Error**

[code]

[2021-06-06 16:15] limitlessloop commented on #41
Thanks for flagging this.

I think this is an issue with a module dependency.

Could you try manually installing `postcss-values-parser`:

[code]

For some reason, it seems to have moved it to a peer dependency in the later releases.

[2021-07-28 03:45] mashirozx opened #43 "Syntax error from CSS minify tool"
![image](https://user-images.githubusercontent.com/16148054/127260083-35e627ae-e12c-4d18-a282-a4800a1a4a6a.png)

This is a flex item, I tried to remove the `var(--parent-has-fgp)`, and it just works fine. But I don't know why it generate this `var(--parent-has-fgp) ` at all...

[2021-07-28 03:50] mashirozx commented on #43
Some info:

[code]

"vue": "^3.1.4",
"sass": "^1.35.1",
"sass-loader": "^12.1.0",
"vite": "^2.4.2",

[2021-07-30 22:02] limitlessloop commented on #43
Hi,

Are you still having an issue with this? Is it Chrome where the syntax issue is being reported? My suspicion is that Chrome is incorrectly reporting this.

[2021-07-30 23:54] mashirozx commented on #43
Hi! I finally found it was actually a compatibility issue with [Vite](https://vitejs.dev) and [esbuild](https://esbuild.github.io/) ([Vite works depending on esbuil](https://vitejs.dev/config/#esbuild)). When [esbuild minifying CSS](https://vitejs.dev/config/#build-minify), it shows some of --fgp-* variables are invalid and ignoring them, so the polyfill not work after build.

[2021-07-31 08:09] limitlessloop commented on #43
Hmm interesting. If you have a repo you're able to share I can investigate it and try to find a solution. Many thanks.

[2021-08-01 03:05] mashirozx commented on #43
I've created a small demo: https://github.com/mashirozx/flex-polyfill-debug-demo

Some information:
HTML and styles here: [App.vue](https://github.com/mashirozx/flex-polyfill-debug-demo/blob/master/src/App.vue)

Without polyfill:
![image](https://user-images.githubusercontent.com/16148054/127757592-00b4d988-d876-4a90-8299-0287ba95ee4b.png)

Polyfill on dev server (css not minified):
![image](https

[2021-08-01 15:52] limitlessloop commented on #43
Thank you, this is really useful. I'll spin this up and take a look.

With regards to the esbuild minifying the CSS I think this is a mistake being made by the minification tool. Although the property may look empty, there is actually a space as a value which is valid CSS. It uses this to toggle between values. We'd have to create a ticket for the esbuild minification to address this.

[2021-08-02 03:44] mashirozx commented on #43
Well, I'm not 100% sure it is the ESbuild's problem (maybe another modules depended by Vite), there may still need more investigation.

And also I found some other strange problem. You can find it in picture 2 above.

![image](https://user-images.githubusercontent.com/16148054/127801472-4af86055-7e68-4531-9514-6db26484ca73.png)

This occurs on dev server, whose code is not minified, the width is i

[2021-08-02 10:09] limitlessloop commented on #43
Yes regarding the last problem. I had a little play around and it's because of the negative margin on the container and the width being applied is causing the width to be smaller than it is. The answer is to add the column gap to the width using calc but it will need a bit of extra work to make sure this works universally with the polyfill.

[2021-08-07 14:48] limitlessloop commented on #43
Hi @mashirozx in your particular case you can try this snippet below:

[code]

I'm working on a method to enable this with the polyfill.

[2021-08-08 15:13] mashirozx commented on #43
But when I added this, the polyfills were gone 😢
![image](https://user-images.githubusercontent.com/16148054/128636820-9dde2bc2-d0ad-4d82-b7b4-c37cc91a0c9c.png)

[2021-08-10 23:05] limitlessloop commented on #43
Ahh. Sorry my bad. I forgot the plugin looks for properties beginning with `--fgp` to tell if the polyfill has been applied or not. Just change the prefix or you can remove it entirely, `--width` will suffice.

[2021-08-15 12:03] limitlessloop commented on #43
I've released a fix for the width issue you were encountering. The problem should be resolved in version `4.1.0`.

Regarding the syntax error, I believe this is an error with the tool that minimises the CSS because it is removing empty custom properties which are valid CSS.

[2021-08-15 17:10] limitlessloop commented on #41
Closing for now, feel free to comment if you still experience the issue.

[2021-08-15 17:10] #41 closed

[2021-08-20 20:41] limitlessloop commented on #43
Just did some lite research and I think I've found an option to disable hopefully removing empty properties `removeEmpty: true`. More information is on the [css-clean documentation.

[2022-02-24 03:15] tremby opened #54 "Margins creeping in from ancestors, even when polyfill not needed"
I've got an element with `display: grid; gap: 4rem;`. It's a grid so it doesn't even need the polyfill but I understand why it applies rules anyway -- the "grid" part may be composed from a different ruleset, and you've no way of knowing.

But I've configured the plugin with `flexGapNotSupported: ".no-flex-gap"`, and that class is not present since I'm testing with a browser which doesn't need the

[2022-02-24 16:15] limitlessloop commented on #54
Hi Bart, thanks for taking the time to raise this issue.

I can see the problem you're encountering and why it's happening. It should be fixable, I just need to think of the best way to go about it.

Because the plugin is a pure CSS polyfill it assumes (by default) that any element could have another class applied to it which could have the property `display: flex | inline-flex`. That's why all st

[2022-07-04 23:29] alxdnlnko commented on #54
Hi @gavinmcfarland , i'm struggling with the same problem. The `only: true` option doesn't help much, because flex elements are everywhere, and if one of them has "margin-top" defined, it is propogated to the whole children tree, until it meets `margin-top: 0;` somewhere. It makes me to add more rules for the non-polyfilled browsers, which meant to work as is, since they support gaps.

I also use

[2022-07-15 10:16] yslpn opened #61 "Broken link for demo"
Hello. There is a demo link in the Readme.md file https://limitlessloop.github.io/flex-gap-polyfill/ but it won't open. Please fix it.

<img width="961" alt="image" src="https://user-images.githubusercontent.com/14806611/179203593-90e1de44-f9fb-42ad-931d-248ca180ff18.png">

[2022-07-22 22:48] gavinmcfarland commented on #61
Ah, thanks for flagging that. It's fixed now.

[2022-07-22 22:48] #61 closed